{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:        ('form-control ' ~ field.class)|trim,
    label:        field.label|default(''),
    buttonImport: field.buttonImport|default('Import Video'),
    pattern:      field.pattern|default(''),
    placeholder:  field.placeholder|default('Enter a term or id to search for brightcove videos'),
    required:     field.required|default(false),
    errortext:    field.error|default(''),
    readonly:     field.readonly|default(false),
    title:        field.title|default(''),
    variant:      field.variant|default(''),
    info:         field.info|default('')
} %}
{# variant[inline] #}

{#=== INIT ===========================================================================================================#}
{% set attributes = {
    text: {
        class:           "form-control "~option.class,
        data_errortext:  option.errortext,
        id:              "lookup-"~key,
        maxlength:       30,
        name:            "lookup-"~name,
        pattern:         (option.pattern and option.pattern not in ['url', 'email']) ? option.pattern : '',
        placeholder:     option.placeholder,
        readonly:        option.readonly,
        required:        option.required,
        title:           option.title,
        type:            'text',
        value:           '',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="form-group bolt-field-brightcove brightcove brightcove-{{ key }} text">
    <legend class="sr-only">Brightcove Video</legend>
    <label class="main control-label col-xs-12">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}<img src="{{ paths.extensions }}vendor/cnd/brightcove/images/brightcove_logo.png"></label>
    <div class="col-xs-12">
        <input{{ macro.attr(attributes.text) }}>
        <img src="{{ paths.extensions }}vendor/cnd/brightcove/images/ajax-loader.gif" class="spinner">
        <input name="{{ key }}" id="{{ key }}" value="{{ context.content.get(contentkey) }}" type="hidden" value="">
    </div>
    <div class="col-sm-12 current-wrapper">
        <div class="current"></div>
        <button type="button" class="btn btn-secondary pull-right" onClick="brightcoveImport('{{ key }}', {{ field.import|json_encode }})">{{ option.buttonImport }}</button>
    </div>
</fieldset>

<script>
    $(function() {
        initBrightcoveField("{{ key }}", "{{ paths.bolt }}"); // we should have Bolt.conf("paths.root") but it seems we dont. At least during execution of our init.
    });
</script>