{% set instanceid = buid() %}

<div class="bcvideo-player-wrapper">
    <div class="bcvideo-player cnvideo" id="wrapper-{{ instanceid }}">

        <style>
            #wrapper-{{ instanceid }} {
                width: 100%;
                padding-bottom: {{ (100 * (1/options.aspect|default(1.777777)))|number_format(10,'.','') }}%;
            }

        {% if not options.controls %}
            #wrapper-{{ instanceid }} .vjs-control-bar{
                display:none!important;
            }
        {% endif %}

        {% if options.loop %}
            #wrapper-{{ instanceid }} .vjs-loading-spinner{
                display:none!important;
            }
        {% endif %}

        </style>

        <video
                id="{{ instanceid }}"
                data-account="{{ options.account }}"
                data-player="{{ options.player }}"
                data-embed="default"
                data-video-id='{{ video.id }}'
                class="video-js"
                {{ options.muted|default             ? 'muted="muted"' }}
                {{ options.controls|default          ? 'controls="controls"' }}
                {{ options.preload|default           ? 'preload="preload"' }}
                {{ options.loop|default              ? 'loop="loop"' }}
                {{ options.autoplay|default          ? 'autoplay="autoplay"' }}
                {{ options.playsinline|default(true) ? 'playsinline' }}
        ></video>
        <script src="//players.brightcove.net/{{ options.account }}/{{ options.player }}_default/index.min.js"></script>

        <script>
            $(document).ready(function() {
                var video_id = '{{ instanceid }}';

                var player = bc(video_id);
                {% if(options.ima3 is defined and options.ima3) %}
                    var referrer_url = encodeURIComponent(self.location.href);
                    var timestamp=new Date().getTime();

                    player.ima3(
                        {
                            serverUrl: {{ options.ima3.serverUrl|raw }},
                            timeout: "{{ options.ima3.timeout|raw }}",
                            requestMode: "{{ options.ima3.requestMode|raw }}",
                            adTechOrder: {{ options.ima3.adTechOrder|json_encode|raw }},
                            debug: true
                        }
                    );
                {% endif %}

                player.ready(function() {
                    var myPlayer = this;
                    var endedFired = false;

                    var language_options = {
                        "Share Video": "Video",
                        "Share via": "Jetzt Video teilen",
                        "Direct Link": "Link zum Kopieren",
                        "Embed Code": "Code zum Einbetten"
                    };
                    videojs.addLanguage("de-DE", language_options);
                    videojs.addLanguage("de", language_options);

                    {% if(options.social is defined and options.social) %}
                    myPlayer.social( {{ options.social|json_encode }} );
                    {% endif %}

                    {% if(options.autostart is defined and options.autostart) %}
                    myPlayer.play();
                    {% else %}
                    myPlayer.catalog.getVideo('{{ video.id }}', function(error, video) {
                        myPlayer.catalog.load(video);
                        if(window.location.search.search('autostart=true') > 0){
                            myPlayer.play();
                        }
                    });
                    {% endif %}

                    // Ended
                    myPlayer.on("ended", function(){
                        if (!endedFired){ // ima method calls the "ended" event twice
                            myPlayer.trigger("endscreen");
                            endedFired = true;
                        }
                    });
                });
            });
        </script>
    </div>
</div>
